html, body {
        position: relative;
        height: 100%;
        background-color:#fff    
    }
ul,li{ list-style-type: none; margin: 0; padding: 0;}
a:focus, a:hover{text-decoration: none;outline: none;}
button,input,textarea{outline:none;}

.top{ background: #000000; }
.top h3{ text-align: center;color: #ffffff;}
.top span{float: left; margin-left: .3rem;}

.banner img{ width: 100%;}
.one_mun h3{ color:#ff0000;}
.one_cen h3{ position: relative; margin-bottom: 1rem;}
.one_cen h3:after{ content: ""; display: block; width: 1.9rem; height: 3px; position: absolute; top:1.4rem; background: #ff0000;}



.youshi_bj{ background: #fafafa; padding-top: .4rem;}
.youshi{ text-align: center;}
.youshi img{ width: 2rem; margin-bottom: .5rem;}
.youshi p.yw{ color: #999999;}

.heise{ background: #29282e;}
.heise .one_mun h3,.heise .one_cen h3,.heise .one_cen p{ color: #ffffff;}
.heise .one_cen h3:after{ background: #ffffff;}
.heise img{ width: 100%; margin-bottom: 1rem;}

.footer{ text-align: center;}
.footer img{ width: 100%; margin-bottom: .2rem;}